//::::::::::::::::::::::::::::: Y A M A H A - M T - 0 9 ::::::::::::::::::::::::://

.main_enduro-yamaha-09{    
    position: relative;
    background-image: url(../mutimedia/Naked/yamaha-mt-09-portada.jpg);
    height: 100vh;
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    }


    .main_enduro-yamaha-09 h2{
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 8px !important;
    text-align: center;
   
}

.main_enduro-yamaha-09 p{
    font-size: 20px !important;
    color: #fff;
    padding-bottom: 25px;
    font-family: 'Bebas Neue', cursive !important;
    letter-spacing: 2px;
    
}

@media (min-width:480px){
    .main_enduro-yamaha-09 h2{
        padding: 0 10px;
        font-size: 50px;
        text-align: center;
    }
}


@media (min-width:768px){


    .main_enduro-yamaha-09 h2{
        font-size: 80px;
    }    

}


@media (min-width:990px){

    .main_enduro-yamaha-09 h2{
        
       font-size: 100px;  
    }

    .main_enduro-yamaha-09{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
     }
}

//::::::::::::::::::::::::::::: Y A M A H A - M T - 0 3 ::::::::::::::::::::::::://

.main_enduro-yamaha-03{    
    position: relative;
    background-image: url(../mutimedia/Naked/2021-Yamaha-MT-03-portada.jpg);
    height: 100vh;
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    }


    .main_enduro-yamaha-03 h2{
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 8px !important;
    text-align: center;
   
}

.main_enduro-yamaha-03 p{
    font-size: 20px !important;
    color: #fff;
    padding-bottom: 25px;
    font-family: 'Bebas Neue', cursive !important;
    letter-spacing: 2px;
    
}

@media (min-width:480px){
    .main_enduro-yamaha-03 h2{
        padding: 0 10px;
        font-size: 50px;
        text-align: center;
    }
}


@media (min-width:768px){


    .main_enduro-yamaha-03 h2{
        font-size: 80px;
    }    

}


@media (min-width:990px){

    .main_enduro-yamaha-03 h2{
        
       font-size: 100px;  
    }
}



//::::::::::::::::::::::::::::: g i x x  e r 1 5 0 ::::::::::::::::::::::::://

.main_enduro-G150{    
    position: relative;
    background-image: url(../mutimedia/Naked/Suzuki-Gixxer-150-portada.png);
    height: 100vh;
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    }


    .main_enduro-G150 h2{
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 8px !important;
    text-align: center;
   
}
.main_enduro-G150 p{
    font-size: 20px !important;
    color: #fff;
    padding-bottom: 25px;
    font-family: 'Bebas Neue', cursive !important;
    letter-spacing: 2px;
    
}

@media (min-width:480px){
    .main_enduro-G150 h2{
        padding: 0 10px;
        font-size: 50px;
        text-align: center;
    }
}


@media (min-width:768px){


    .main_enduro-G150 h2{
        font-size: 80px;
    }    

}


@media (min-width:990px){

    .main_enduro-G150 h2{
        
       font-size: 100px;  
    }
}

//::::::::::::::::::::::::::::: K T M 1 2 9 0 ::::::::::::::::::::::::://

.main_enduro-KTM1290{    
    position: relative;
    background-image: url(../mutimedia/Naked/KTM-1290-DUKE-portada.jpg);
    height: 100vh;
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    }


    .main_enduro-KTM1290 h2{
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 8px !important;
    text-align: center;
   
}
.main_enduro-KTM1290 p{
    font-size: 20px !important;
    color: #fff;
    padding-bottom: 25px;
    font-family: 'Bebas Neue', cursive !important;
    letter-spacing: 2px;
    
}

@media (min-width:480px){
    .main_enduro-KTM1290 h2{
        padding: 0 10px;
        font-size: 50px;
        text-align: center;
    }
}


@media (min-width:768px){


    .main_enduro-KTM1290 h2{
        font-size: 80px;
    }    

}


@media (min-width:990px){

    .main_enduro-KTM1290 h2{
        
       font-size: 100px;  
    }
}


//::::::::::::::::::::::::::::: K T M - 2 0 0 ::::::::::::::::::::::::://

.main_enduro-KTM200{    
    position: relative;
    background-image: url(../mutimedia/Naked/KTM-duke-200-portada.jpg);
    height: 100vh;
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    }


    .main_enduro-KTM200 h2{
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 8px !important;
    text-align: center;
   
}
    .main_enduro-KTM200 p{
    font-size: 20px !important;
    color: #fff;
    padding-bottom: 25px;
    font-family: 'Bebas Neue', cursive !important;
    letter-spacing: 2px;
    
}

@media (min-width:480px){
    .main_enduro-KTM200 h2{
        padding: 0 10px;
        font-size: 50px;
        text-align: center;
    }
}


@media (min-width:768px){


    .main_enduro-KTM200 h2{
        font-size: 80px;
    }    

}


@media (min-width:990px){

    .main_enduro-KTM200 h2{
        
       font-size: 100px;  
    }
}


//:::::::::::::::::::::::::::::H O N D A - 1 9 0::::::::::::::::::::::::://

.main_enduro-H190{    
    position: relative;
    background-image: url(../mutimedia/banners/hondaCB190.jpg);
    height: 100vh;
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    }


    .main_enduro-H190 h2{
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 8px !important;
    text-align: center;
   
}
    .main_enduro-H190 p{
    font-size: 20px !important;
    color: #fff;
    padding-bottom: 25px;
    font-family: 'Bebas Neue', cursive !important;
    letter-spacing: 2px;
    
}

@media (min-width:480px){
    .main_enduro-H190 h2{
        padding: 0 10px;
        font-size: 50px;
        text-align: center;
    }
}


@media (min-width:768px){


    .main_enduro-H190 h2{
        font-size: 80px;
    }    

}


@media (min-width:990px){

    .main_enduro-H190 h2{
        
       font-size: 100px;  
    }
}


